.hero-content {
  position: relative;
  min-height: 665px;
  background-image: url(../assets/images/portfolio_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-content .hero-title{
  color: white;
  font-family: 'Yeseva One', cursive;
}